# Data Science Tools and Ecosystem

**In this notebook, Data Science Tools and Ecosystem are summarized.**

**Objectives:**
- Creating your first Jupyter Notebook
- Using the tools explained in the course
- Working with JupyterLabs
- Practising the commands on JupyterNetwork
- Getting started with programming

__Some of the popular languages that Data Scientists use are:__
1. R Programming
2. SQL For Data Bases
3. Python

__Some of the commonly used libraries used by Data Scientists include:__
1. Pandas
2. Seaborn
3. Scikit-learn

| __Data Science Tools__ | 
| -------------| 
| MySQl |
| PostgreSQL | 
| MongoDB |

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

### Author: 
__JONATHAN EMANUEL MARTINEZ HERNANDEZ__